[data-dropdown] {
  position: relative;
}

[data-dropdown] .dropdown-menu {
  display: none;
  top: 45px;
}

[data-dropdown]:hover .dropdown-menu, [data-dropdown].active .dropdown-menu {
  display: block;
  animation: drop-menu .2s forwards;
}

@keyframes drop-menu {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.dropdown-menu {
  position: absolute;
  top: 38px;
  background: #e54;
  border: 1px solid #333;
  z-index: 200;
}

.dropdown-menu::before {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  width: 0px;
  height: 0px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #e54;
}

.dropdown-menu li a:hover {
  color: #fff;
}